{{- $hasSudo := promptBoolOnce . "hasSudo" "Do you have sudo access on this machine" -}}
{{- $studentMachine := promptBoolOnce . "studentMachine" "Is this a Notre Dame student machine" -}}

[data]
  email = "199662174+declanhuggins@users.noreply.github.com"
  name = "Declan"
  hasSudo = {{ $hasSudo }}
  studentMachine = {{ $studentMachine }}
