{{ if .use1Password -}}
Include ~/.ssh/1Password/config

{{ end -}}
Host mc.afrotc.org
	HostName mc.afrotc.org
	User ubuntu

Host mc.dhugs.com
	HostName mc.dhugs.com
	User ubuntu

Host nd.dhugs.com
	HostName nd.dhugs.com
	User dhuggin2

Host desktop
	HostName desktop
	User hugs
{{ if .use1Password }}
Host *
{{- if eq .chezmoi.os "darwin" }}
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
	IdentityAgent "~/.1password/agent.sock"
{{- end }}
{{ end -}}
